.floorImage {
    height: 600px;
    position: relative;
}

.floorImage .bgi {
    width: 780px; /* 適当な幅を指定 */
    /* position: absolute; 相対位置に指定 */
}

.floorImage .slotImg {
    width: 470px; /* 適当な幅を指定 */
    position: absolute; /* 相対位置に指定 */
    top: 25px;
    left: 33%;
}

.floorImage #slotcan {
    width: 100px; /* 適当な幅を指定 */
    position: absolute; /* 相対位置に指定 */
    top: 193px;
    left: 35.7%;
}
.controlMenu {
    position: absolute;
    top: 445px;
    left: 35.7%;
    width: 380px;
}

/* ボタン周り */

.stopBtn {
    width: 32%;
    text-align: center;
    padding-bottom: 118px;
}

.stopBtnsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.imgWrp {
    text-align: center;
}
